<h1>Listing firms</h1>

<table id=listing>
  <tr id=heading>
    <th id="FKey">Key<% @no = 0 %></th>    
    <th>Name</th>
    <th>Store dir</th>
    <th>Upload dir</th>
  </tr>

<% for firm in @firms %>
  <tr id=listitem>
    <td id="FKey"><%= @no = @no +1 %></td>
    <td><%=h firm.name %></td>
    <td><%=h firm.store_dir %></td>
    <td><%=h firm.upload_dir %></td>

    <td><%= link_to 'Show', firm, :id => "show", :method => :get %></td>
    <td><%= link_to 'Edit', edit_firm_path(firm), :id => "edit", :method => :get %></td>
    <td><%= link_to 'Delete', firm, :confirm => 'Are you sure?',
              :id => "del", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @firms %>

<%= link_to 'New firm', new_firm_path %>

<script>setup('listing');</script>
