<p>
  <b>Name:</b>
  <%=h @firm.name %>
</p>

<p>
  <b>Store dir:</b>
  <%=h @firm.store_dir %>
</p>

<p>
  <b>Upload dir:</b>
  <%=h @firm.upload_dir %>
</p>

<p>
  <b>File_User:</b>
  <%=h @firm.file_user %>
</p>

<p>
  <b>File_Group:</b>
  <%=h @firm.file_group %>
</p>

<%= link_to 'Back', firms_path %>
