<h1>Listing users</h1>

<table id=listing>
  <tr id=header>
    <th id="FKey">Key<% @no = 0 %></th>
    <th>Login</th>
    <th>Firm</th>
    <th>Email</th>
  </tr>

<% for user in @users %>
  <tr id=listitem>
    <td id="FKey"><%= @no = @no +1 %></td>
    <td><%=h user.login %></td>
    <td><%=h user.firm.name unless user.firm.nil? %></td>
    <td><%=h user.email %></td>
    <td><%= link_to 'Show', user, :id => "show", :method => :get %></td>
    <td><%= link_to 'Edit', edit_user_path(user), :id => "edit", :method => :get %></td>
    <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :id => "del", :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @users %>

<%= link_to 'New user', new_user_path %>

<script>setup('listing');</script>
