= error_messages_for 'pdf'

- form_for @pdf do |f|
  = f.hidden_field :filename 
  = @pdf.filename
  = f.date_select :pdfdate, :label => "Date"
  = f.text_field :pdfname, :label => "Name"
  = f.collection_select :client_id, @clients, :id, :name
  = f.collection_select :category_id, @categories, :id, :name
  = f.text_field :pdfnote, :label => "Note"
  = f.submit

= link_to 'Back', pdfs_path, :class=>'ajax', :accesskey=>'esc'