= error_messages_for 'pdf'

- form_for @pdf do |f|
  = f.hidden_field :filename
  = f.hidden_field :firm_id
  %p
    Filename: 
    = @pdf.filename
  %p
    Name:
    = @pdf.pdfname

  %p
    = f.label :date
    = f.date_select :pdfdate
  %p
    = f.label :client_id
    = f.collection_select :client_id, current_firm.clients_sorted, :id, :name
  %p
    = f.label :category_id, "Category/Sub Category"
    = f.collection_select :category_id, current_firm.categories_sorted, :id, :full_sub_name
  %p
    = f.label :business_name
    = f.text_field :business_name
    (Optional)
  %p
    = f.label :contact
    = f.text_field :contact
  %p
    = f.label :description
    = f.text_field :description

  - if @pdf.missing_flag
    %p
      = f.label :path, "Relocated Path"
      = f.text_field :path
  %p
    = f.label :pdfnote, "Note"
    = f.text_field :pdfnote
  = f.submit

= link_to 'Back', pdfs_path, :class=>'ajax', :accesskey=>'esc'
