#search= render :partial => "pdfs/search"

%h1 Listing pdfs

%table
  %tr#header
    %th#FKey FKey #{@no = 0}
    %th Date
    %th Name
    %th Client
    %th Category
    
  - for pdf in @pdfs 
    %tr#listing
      %td#FKey= @no = @no +1
      %td= pdf.pdfdate
      %td= link_to pdf.pdfname, {:action => "attachment", :id => pdf.id}, :id => "view",:method => :get
      %td= pdf.client.name 
      %td= pdf.category.name 
      %td= link_to 'eMail',  {:action => 'email', :id => pdf}, :id => "email", :method => :get
      %td= link_to 'Show',   {:action => 'show', :id => pdf}, :id => "show",  :method => :get 
      %td= link_to 'Edit',   {:action => 'edit', :id => pdf}, :id => "edit",  :method => :get 
      %td= link_to 'Delete', { :action => 'destroy', :id => pdf }, :id => "del",
      :confirm => 'Are you sure?', :method => :delete 

= will_paginate @pdfs