%h1= @pdf.pdfname

#showitem= render :partial => "showitem"

= link_to 'Email', {:action=> 'email', :id=> @pdf}, :id=> "email", :class=>'ajax', :accesskey=>'m'
= link_to 'View', {:action => "attachment", :id => @pdf.id}
= link_to 'Edit', edit_pdf_path(@pdf), :class=>'ajax', :accesskey=>'e'
= link_to 'Destroy', {:action => 'destroy', :id => @pdf.id }, {:confirm => 'Are you sure?', :id => 'destroy', :method => :delete}

= link_to 'Relink', {:action => 'relink', :id => @pdf.id }, :id => "relink", :class => 'ajax', :target => 'showitem'
= link_to 'Rotate', {:action => 'rotate', :id => @pdf.id }, :id => "rotate", :class => 'ajax', :target => 'showitem'

= link_to 'Back', pdfs_path, :class=>'ajax', :accesskey=>'esc'