- form_for @category do |f|

	= f.collection_select :parent_id, current_firm.categories.roots, :id, :name, :include_blank => true if @category.new_record?
	= f.text_field :name  
	= f.text_field :description
	= f.submit 

= link_to 'Back', categories_path, :class=> 'ajax', :accesskey=> 'esc'