%h1 Listing categories

%table
	%tr#header
		%th#FKey FKey #{@no = 0}
		%th Name
		%th Description
		%th Documents

	- for category in @categories
		%tr#listing
			%td#FKey= @no = @no +1
			%td(style='padding-left:#{category.level * 20}px')= category.name
			%td= category.description
			%td= category.pdfs.count
			%td= link_to 'Show', category, :class=>'ajax',:id => 'show'
			%td= link_to 'Edit', edit_category_path(category), :class => 'ajax', :id => 'edit'
			%td= link_to 'Delete', category, :class => 'ajax', :return =>'categories/index', :id => "destroy"

= will_paginate @categories
= link_to 'Add New category', new_category_path, :class=> 'ajax', :accesskey=> 'a'